body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header{
  text-align: center;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
nav a{
  text-align: center;
  padding: 10px;
  background-color: grey;
}
figcaption{
  font-size: small;
  text-align: center;
}
#featured-property p{
  text-align: center;
  margin-left: 20%;
  width: 800px;
}
#details div{
  float: left;
  background-color: red;
  text-align: center;
  width: 25%;
}
